


---



---


# Table of Contents


---


## Introduction to Python Programming
1. Python Keywords
2. What is an Identifier?
3. Rules for Identifier Naming
4. Literals--raw data types
5. Variables
6. print() and input()

---

# 1. Python Keywords
>- Keywords are the pre-defined or built-in words whose meaning is already known to python interpreter.
>- Keywords are the reserved words in python
>- We can't use a keyword as variable name, function name or any other identifier
>- All the keywords except True, False and None are in lowercase and they must be written as is.

**Keyword	Description**
>-   ```and```- A logical operator
>-  ```as```-To create an alias
>-  ```assert```-For debugging
>-  ```break```-To break out of a loop
>-  ```class```	- To define a class
>-  ```continue```-	To continue to the next iteration of a loop
>-   ```def```	-To define a function
>-  ``` del```	-To delete an object
>-   ```elif```-	Used in conditional statements, same as else if
>-  ```else```-Used in conditional statements
>-  ```elif```-Used in conditional statements, same as else if
>-  ```else```-Used in conditional statements
>-   ```except```-Used with exceptions, what to do when an exception occurs
>-  ```False```-Boolean value, result of comparison operations
>-   ```finally```-Used with exceptions, a block of code that will be executed no matter if there is an exception or not
>- ```for```-To create a for loop
>-  ```from``` -To import specific parts of a module

In [57]:
# importing the module
import keyword

# printing the keywords
print (keyword.kwlist)

#there are of total 35 keywords
print ('Total number of keywords')
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords

35

### Boolean expressions

Boolean expressions are created with the keywords and, or, not and is. For example:

In [59]:
True or False

True

In [61]:
False or True

True

In [63]:
True and False

False

In [65]:
10 == 11

False

In [67]:
10 == 10

True

In [71]:
'X' == 'X'

True

In [77]:
'Shankar' == 'Shankar'

True

In [79]:
True + True

2

In [81]:
False + True

1

### Similarly you can multiply, divide etc

In [83]:
True and False or True

True

# 2. What is an Identifier? or Vaiable
> Identifier is the name we give to identify a variable, function, class, module or other object. That means whenever we want to give an entity a name, thatâ€™s called identifier.

In [85]:
salary = 50000

In [87]:
salary

50000

In [89]:
name = 'Shankar'
name

'Shankar'

In [91]:
x,y = 20,30

In [93]:
print (x)

20

In [95]:
y

30

# 3. Rules to define identifiers:
1. Allowed characters => Alphabets, Digits and Underscore Symbol
2. Identifier should never start with a digit
3. Case Sensitive.
4. No length limit.
5. Can't use reserved words for identifier.

In [97]:
and = 1234

SyntaxError: invalid syntax (271934461.py, line 1)

In [99]:
2abc = 391473194734

SyntaxError: invalid decimal literal (516279404.py, line 1)

In [101]:
a2bc = 'Shankar'

In [103]:
a2bc

'Shankar'

In [105]:
# continue is a keyword cannot be used as identifier
continue = 'kjdsfhsdkjfhsdjkf'

SyntaxError: invalid syntax (3872309997.py, line 2)

In [107]:
# we can have _ and digits in between or end

fixed-salary = 80000

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2775609406.py, line 3)

In [109]:
fixed_salary = 80000
print (fixed_salary)

80000

In [111]:
_ = 'innomatics'

In [113]:
_

'innomatics'

In [115]:
$ = 146184613874

SyntaxError: invalid syntax (3353821327.py, line 1)

In [ ]:
# but we cannot have digit in the start

In [ ]:
# we can have _ as the starting charactor of an identifier

# 3. Literals
Literals in Python is defined as the raw data assigned to variables or constants while programming.

**The four main datatypes are**:

>- integral values: ```int```
>- decimal values: ```float```
>- true or false statements: ```bool```
>- text data: ```str```

Apart from these, there are many other datas type which we'll we looking at later

In [117]:
sal = 25

In [119]:

type(sal)

int

In [121]:
ht = 5.9
type(ht)

float

In [123]:
name = 'Shankar'
print (name)

Shankar

In [125]:
name_1 = "Shankar"
name_1

'Shankar'

In [129]:
x = "can't"
x

"can't"

In [131]:
salary,hra  = 20, 10

In [133]:
total_salary = salary + hra
print (total_salary)

30

In [135]:
weight = 70.5

In [137]:
x = salary + weight
x

90.5

In [139]:
name = 'Shankar'

In [143]:
type(salary)

int

In [145]:
person_salary = name + str(salary)
print (person_salary)

Shankar20

In [147]:
type(str(salary))

str

In [149]:
int(name)

ValueError: invalid literal for int() with base 10: 'Shankar'

In [151]:
xyz = '100'

In [159]:
abc = salary + int(xyz)
abc

120

In [157]:
type(xyz)

str

In [161]:
x = str(salary) + xyz
print (x)

20100

In [163]:
print (str(salary),xyz)

20 100

In [165]:
print (f'{salary}{xyz}')

20100

In [177]:
fname,lname = 'Innomatics','Research Lab'

In [181]:
full_name = fname + ' ' + lname
print (full_name)

Innomatics Research Lab

# 4. Variables
Variable is a data container

>Rules for Variable Declaration:
>- A variable name must start with a letter or the underscore character
>- A variable name cannot start with a number
>- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
> - Variable names are case-sensitive (age, Age and AGE are three different variables)

# type() is a function which returns type of data

```python
type()
```

# 5. print() and input()
## print()
The print() function prints the specified message to the screen
### Syntax
print(object(s), sep=separator, end=end, file=file, flush=flush)
### Important parameters
- object(s)-	Any object, and as many as you like. Will be converted to string before printed
- sep='separator'	Optional. Specify how to separate the objects, if there is more than one. Default is ' '
- end='end'	Optional. Specify what to print at the end. Default is '\n' (line feed)

Return type of print() is None

In [183]:
# getting input---- I am awesome

# getting input---- I'm awesome

#getting input---- I am "awesome"

# getting input---- I'm "awesome"
print (""" I'm "awesome" """)

 I'm "awesome"

In [ ]:
# Using sep by default it is space => (1,2) , ('a','b')

In [ ]:
# (x,y,sep= 'any char'

In [ ]:
# using end parameter by default it is \n

In [ ]:
# end = ' ' to join next print

#print('A',end=' ')
#print('is a first letter')

In [187]:
print ('First Name',end=' ')
print ('Last Name')

First Name Last Name

In [199]:
fn = 'First Name'
ln = 'Last Name'
f_n = "fn+ln"

In [201]:
fn

'First Name'

In [203]:
print (fn,ln,f_n,sep='****')

First Name****Last Name****fn+ln

In [ ]:
# print formatting (f'{a}{b}')

## input()
The input() function allows user input.
### Syntax
input(prompt)<br>
prompt: A String, representing a default message before the input.

In [205]:
name = input('Hey Enter your name here ')

print (name)

Hey Enter your name here  Shankar

Shankar

In [207]:
# by defalt input function takes str as input
type(name)

str

In [213]:
salary = int(input('Hey Enter your salary here '))

print (salary)

Hey Enter your salary here  50000

50000

In [215]:
type(salary)

int

### Taking multiple inputs
Syntax : <br>
input().split(separator, maxsplit)<br>

In [217]:
x,y = input('Enter values').split()

Enter values 20 30

In [219]:
x

'20'

In [221]:
y

'30'

In [223]:
a,b = input('Enter your values').split(',',2)

Enter your values 20,30

In [225]:
a

'20'

In [227]:
b

'30'